body {
    font-family: sans-serif;
    margin: 0;
    background: #f2f2f2;
}

/* Header */
header {
    background: #959494;
    padding: 15px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

/* Buttons */
.button {
    background-color: aqua;
    border-radius: 7px;
    padding: 7px 15px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Catalog */
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

/* Cards */
.dog {
    background: white;
    border: 3px solid black;
    width: 260px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.dog img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Footer */
footer {
    background: #959494;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
